<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="/static/images/NLI_logo.png" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Video Action Segmentation</title>
</head>

<body>
    <div class="header">
        <h1>Action Segmentation and Comparison</h1>
    </div>
    
    <div class="content-row">
        <h2 >Up Loading</h2>
        <div class="content-collumn">
            <h2>Sample video</h2>
            <object id="ie_plugin" classid="clsid:67DABFBF-D0AB-41fa-9C46-CC0F21721616" 
            width="300" 
            height="200" 
            codebase="http://go.divx.com/plugin/DivXBrowserPlugin.cab"> 
            <param name="custommode" value="stage6" />
            <param name="autoPlay" value="false" />
            <param name="src" value="/static/rgb-01-1.avi" />
            <param name="bannerEnabled" value="false" />

            <embed id="np_plugin" type="video/divx" 
            src="/static/rgb-01-1.avi" 
            custommode="stage6" 
            width="300" 
            height="200" 
            autoPlay="false"  
            bannerEnabled="false"
            pluginspage="http://go.divx.com/plugin/download/">
            </embed>
            </object>
            fdads
        </div>
        <div class="form">
            <form method="post" enctype=multipart/form-data>
                <h3>Up load extracted file:</h3>
                <input class="form-control form-control-lg" name="npy_file" type="file" id="npy_file"
                    accept=".npy, .avi" style="width: 30rem; padding: 2%; height: 40%">
            <p>(Click to select a file, or drag it here)</p>
            <button class="btn btn-outline-primary btn-block" type="submit" style="width: 40%; padding: 1%;"
            onclick="progress()">Get Prediction</button>
            </form>
        </div>
        
        
        </div>

</body>