torch==1.13.0
torchvision==0.14.0
werkzeug==2.2.2
ffmpeg
ffmpeg-python==0.2.0
flask==2.2.2
matplotlib==3.6.2
numpy==1.23.4
opencv-python==4.6.0.66
pandas==1.5.1
requests==2.28.1
flask-sqlalchemy==2.5.1
natsort
pathlib
pyyaml
tqdm==4.34.0
