body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 245, 245);
}

.header {
    font-family: 'Lucida Sans';
    text-align: center;
    background: rgb(80, 184, 72);
    color: white;
    font-size: 1rem;
    padding: 2rem;

}

.content-row {
    width: 100%;
    /* margin: auto; */
    display: flex;
    /* justify-content: space-evenly; */

}

.left-container {
    width: 80%;

}

.right-container {
    /* padding: auto; */
    width: 100%;
    text-align: center;
    
}

.form {
    padding: 2rem 0 1rem 6rem;
}

h2 {
    padding: 1rem 2rem 1rem 5rem;
    background-color: rgb(51, 178, 193);
    text-align: auto;
    font-weight: 600;
}

h3 {
    color: rgb(243, 113, 33);
}

ul {
    text-align: left;
    width: 60%;
    font-size: large;
    margin: auto;
}

img {
    padding-left: 7%;
}