<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Action Segmentation</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="/static/images/NLI_logo.png" type="image/png">

    <link rel="stylesheet" href="/static/index.css">

</head>

<body>
    <div class="header">
        <h1>Action Segmentation and Comparison</h1>
    </div>

    <div class="content-row">
        <div class="left-container">
            <h2>Prediction Segmented Video</h2>
            <img src="{{ url_for('video_feed') }}" height="95%" width="110%">
        </div>


        <div class="right-container">
            <h2>Sample video</h2>
            <video width="400" height="300" controls>
                <source src="/static/rgb-01-1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h3>50 Salads Dataset</h3>
            <ul>
                <li>19 action (Cut tomato, cut cheese, add oil, etc)</li>
                <li>About 6 min each video</li>
                <li>30 FPS</li>
            </ul>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start" style="position: fixed;bottom: 0;width: 100%;">
        <div class="text-center p-2" style="background-color: rgb(178, 160, 224);">
            <a class="text-dark" href="https://github.com/XuanHien304" style="font-weight: bold;">HienVX1</a> <span>- <a
                    class="text-dark" href="https://github.com/nguyenphwork"
                    style="font-weight: bold;">NguyenPH5</a><span> - AICamp Batch 9</span>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript">
        function progress() {
            document.getElementById('dynamic');
            var current_progress = 0;
            var interval = setInterval(function () {
                current_progress += 100;
                $("#dynamic")
                    .css("width", current_progress + "%")
                    .attr("aria-valuenow", current_progress)
                    .text("Please wait a minute");
                if (current_progress >= 100)
                    clearInterval(interval);
            }, 3000);
        }
    </script>
</body>


